.description-container {
  display: flex;

  p {
    padding-right: 24px;
  }

  > div {
    width: 50%;
  }
}

.duration-container {
  display: flex;
  align-items: center;

  svg {
    width: 20px;
    margin-right: 8px;
  }
}

.steps-container {
  margin: 32px 0 128px;

  .recipe-step {
    display: flex;
    margin-bottom: 24px;
    background: #eee;
    padding: 16px;
  }

  .step-number {
    flex: 0 0 48px;
    font-size: 24px;
  }
}

.recipes-container {
  display: grid;
  grid-template-columns: calc(33.3333% - 24px) calc(33.3333% - 24px) calc(
      33.3333% - 24px
    );
  gap: 24px;
  grid-template-rows: auto;
  margin-bottom: 64px;

  .recipe-link {
    background: #eee;
    padding: 16px;
    cursor: pointer;
    transition: opacity 0.2s;

    img {
      display: block;
      margin-bottom: 16px;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}

h4 {
  margin-bottom: 36px;
  cursor: pointer;
}

.markdown-container {
  margin: 64px 0;
}

.index-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  .link {
    margin-bottom: 16px;
  }
}

.lang-switch {
  width: 100%;

  .lang-container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 16px 16px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    > div {
      margin-left: 32px;
    }
  }
}
