.description-container {
  display: flex;

  p {
    padding-right: 24px;
  }

  > div {
    width: 50%;
  }
}

.duration-container {
  display: flex;
  align-items: center;

  svg {
    width: 20px;
    margin-right: 8px;
  }
}

.steps-container {
  margin: 32px 0 128px; 

  .recipe-step {
    display: flex;
    margin-bottom: 24px;
    background: #eee;
    padding: 16px;
  }

  .step-number {
    flex: 0 0 48px;
    font-size: 24px;
  }
}

.recipes-container {
  display: grid;
  grid-template-columns: calc(33.3333% - 24px) calc(33.3333% - 24px) calc(33.3333% - 24px);
  gap: 24px;
  grid-template-rows: auto;
  margin-bottom: 64px;

  .recipe-link {
    background: #eee;
    padding: 16px;
    cursor: pointer;
    transition: opacity 0.2s;

    img {
      display: block;
      margin-bottom: 16px;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}

h4 {
  margin-bottom: 36px;
  cursor: pointer;
}
